.navbar-main{
    display: flex;
    padding: 0px;
    flex-direction: row;
    background-color: #198754;    
    justify-content: center;
    align-items: center;
}

.navbar-container{
    display: flex;
    width: 100%;

}

.navbar-links{
    display: flex;
    align-items: center;
}


.navbar-logo{
    display: flex;
    height: 100%;
    padding-left: 30px;
    margin-left: 100px;
}

.navbar-logo-img{
    width: 100px;
    margin-right: 10px;
    
}

.navlink{
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.navlink-text{
    color: black;
    font-size: 1.2rem;
    padding-top: 10px;
}

.navlink:hover{
    background-color: #22bf76;
}

.navbar-profile{
    margin-right: 150px;
    margin-left: auto;
}

.messages-link-div{
    display: flex;
    gap: 5px;
}

.notification-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
}

.notification-point{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    border-radius: 30px;
    width: 20px;
    height: 20px;
    background-color:blue;
    color: aqua;
}

.navlink-icon-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin-right: 15px;
    padding-top: 5px;
    color: black;
}


.navlink-img-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 40px;
    margin-right: 15px;
    padding-top: 5px;
}

.navlink-icon-img{
    border-radius: 100px;
    height: 40px;
}