.footer {
  display: flex;
  padding-top: 5vh;
  padding-bottom: 10vh;
  flex-direction: column;
}

.footer-description {
  color: black;
  text-align: center;
}
.footer-logo {
  margin: auto;
  display: flex;
}

.footer-logo-img {
  width: 20%;
  margin: auto;
}
