.header-hero {
  display: flex;
  height: 120px;
  position: sticky;
  top: 0;
}

.header-logo {
  display: flex;
}

.header-logo-img {
  object-fit: cover;
  padding-left: 20px;
}

.login-container {
  text-align: right;
  display: flex;
}

.login-button {
  color: black;
  background-color: green;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 50px;
  width: 200px;
  border-color: green;
  font-size: 1.5rem;
}

.login-button:hover {
  background-color: darkgreen;
  border-color: darkgreen;
}
